.about {
  width: 100%;
  background-color: rgb(43, 43, 43);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;

  // every child element margin-bottom of 40px
  & > * {
    margin-bottom: 35px;
  }

  .graphic {
    width: 300px;

    @media only screen and (min-width: 768px) {
      width: 500px;
      margin-right: 100px;
    }
  }

  .content {
    color: white;
    width: 90%;
  }

  @media only screen and (min-width: 768px) {
  }
}




.computer {
  animation: changeColor 5s infinite ease alternate;
}

.otherColors {
  animation: changeColor 5s infinite ease alternate;
}

@keyframes changeColor {
  0% {
    fill: #780116
  }
  25% {
    fill: #C32F27;
  }
  50% {
    fill: #D8572A;
  }
  75% {
    fill: #DB7C26;
  }
  100% {
    fill: #FFC02A;
  }
}


@media only screen and (min-width: 768px) {
  .about {
    width: 100%;
    flex-direction: row;
    // padding-left: 20%;
    // padding-right: 20%;
  }
  

}