.about {
  width: 100%;
  // background-color: rgb(43, 43, 43);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 65px;

  // every child element margin-bottom 
  & > * {
    margin-bottom: 35px;
  }

  .graphic {
    width: 300px;

    @media only screen and (min-width: 768px) {
      width: 350px;
      margin-right: 60px;
    }

    @media only screen and (min-width: 1700px) {
      margin-right: 100px;
      // width: 45%;
      width: 400px;
    }
  }

  .content {
    color: white;
    color: black;
    width: 80%;

    @media only screen and (min-width: 768px) {
      width: 30%;
    }
  }

  @media only screen and (min-width: 768px) {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    // padding-left: 50px;
    // padding-right: 50px;
  }
}




.computer {
  animation: changeColor 3.5s infinite alternate;
}

.otherColors {
  animation: changeColor 3.5s infinite alternate;
}

@keyframes changeColor {
  // 0% {
  //   fill: #780116
  // }
  // 25% {
  //   fill: #C32F27;
  // }
  // 50% {
  //   fill: #D8572A;
  // }
  // 75% {
  //   fill: #DB7C26;
  // }
  // 100% {
  //   fill: #FFC02A;
  // }
  0% {
    fill: rgba(145, 77, 212, 0.911);
  }
  100% {
    fill: rgb(46, 161, 255);
  }
}
