$--darkRed: #780116;
$--red: #C32F27;
$--darkOrange: #D8572A;
$--orange: #DB7C26;
$--yellow: #FFC02A;
$teal: rgb(26, 211, 243);
$purple: rgb(228, 40, 253);
$borderRadius: 20px;
// $silver: rgb(240, 240, 240);

// $bg: rgb(51,51,51);
$bg: rgb(240, 240, 240);


.skills {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: rgb(51, 51, 51);
  background-color: $bg;
  color: black;
  width: 100%;

  .skillsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media only screen and (max-width: 753px) {
      justify-content: center;
    }

    @media only screen and (min-width: 1366px) {
      width: 70%;
    }

    @media only screen and (min-width: 1700px) {
      width: 60%;
    }

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 1 200px;
      height: auto;
      margin-bottom: 50px;
      transition: transform .4s ease;

      &:hover {
        transform: scale(1.1);
      } 

      .titleIcon {
        width: 100px;
        height: 100px;

        // height: 90px;
        transition: transform .3s ease-in-out;

        @media only screen and (min-width: 768px) {
         width: 90px;
         height: 90px;
        }

        @media only screen and (min-width: 1200px) {
          width: 120px;
          height: 120px;
        }
      }

      .h2 {
        text-align: center;
        margin-bottom: 20px;
        margin-top: -10px;
        @media only screen and (min-width: 768px) {
          margin-top: 0px;
        }
      }

      .ul {
        margin-left: 10px;
        flex: 1 0;
        list-style: none;

        li {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          img {
            width: 20px;
            margin-right: 10px;
          }
        }
      }

      @media only screen and (min-width: 768px) {
        margin-bottom: 0px;
      }

      @media only screen and (min-width: 900px) {
        flex: 0 1 250px;
      }

      @media only screen and (min-width: 1200px) {
        flex: 0 1 300px;
      }
    }
  }
}





// @keyframes boxBottomCycle {
//   0% {
//     background-color: $teal;
//   }
//   20% {
//     background-color: $purple;
//   }
//   40% {
//     background-color: $purple;
//   }
//   60% {
//     background-color: $purple;
//   }
//   80% {
//     background-color: $purple;
//   }
// }


// @keyframes cycle {
//   0% {
//     border:  4px solid $--darkRed;
//     box-shadow: 8px -8px 0px -3px $bg,  8px -8px $--red,
//                   16px -16px 0px -3px $bg, 16px -16px $--darkOrange,
//                   24px -24px 0px -3px $bg, 24px -24px $--orange,
//                   32px -32px 0px -3px $bg, 32px -32px $--yellow;
//   }

//   20% {
//     border:  4px solid $--yellow;
//     box-shadow: 8px -8px 0px -3px $bg,  8px -8px $--darkRed,
//                   16px -16px 0px -3px $bg, 16px -16px $--red,
//                   24px -24px 0px -3px $bg, 24px -24px $--darkOrange,
//                   32px -32px 0px -3px $bg, 32px -32px $--orange;
//   }

//   40% {
//     border:  4px solid $--orange;
//     box-shadow: 8px -8px 0px -3px $bg,  8px -8px $--yellow,
//                   16px -16px 0px -3px $bg, 16px -16px $--darkRed,
//                   24px -24px 0px -3px $bg, 24px -24px $--red,
//                   32px -32px 0px -3px $bg, 32px -32px $--darkOrange;
//   }

//   60% {
//     border:  4px solid $--darkOrange;
//     box-shadow: 8px -8px 0px -3px $bg,  8px -8px $--orange,
//                   16px -16px 0px -3px $bg, 16px -16px $--yellow,
//                   24px -24px 0px -3px $bg, 24px -24px $--darkRed,
//                   32px -32px 0px -3px $bg, 32px -32px $--red;
//   }

//   80% {
//     border:  4px solid $--red;
//     box-shadow: 8px -8px 0px -3px $bg,  8px -8px $--darkOrange,
//                   16px -16px 0px -3px $bg, 16px -16px $--orange,
//                   24px -24px 0px -3px $bg, 24px -24px $--yellow,
//                   32px -32px 0px -3px $bg, 32px -32px $--darkRed;
//   }
// }


// @keyframes cycleHover {
//   0% {
//     border:  4px solid $teal;
//     box-shadow: 8px -8px 0px -3px $bg,  8px -8px $purple,
//                   16px -16px 0px -3px $bg, 16px -16px $purple,
//                   24px -24px 0px -3px $bg, 24px -24px $purple,
//                   32px -32px 0px -3px $bg, 32px -32px $purple;
//   }
//   20% {
//     border:  4px solid $purple;
//     box-shadow: 8px -8px 0px -3px $bg,  8px -8px $teal,
//                   16px -16px 0px -3px $bg, 16px -16px $purple,
//                   24px -24px 0px -3px $bg, 24px -24px $purple,
//                   32px -32px 0px -3px $bg, 32px -32px $purple;
//   }

//   40% {
//     border:  4px solid $purple;
//     box-shadow: 8px -8px 0px -3px $bg,  8px -8px $purple,
//                   16px -16px 0px -3px $bg, 16px -16px $teal,
//                   24px -24px 0px -3px $bg, 24px -24px $purple,
//                   32px -32px 0px -3px $bg, 32px -32px $purple;
//   }

//   60% {
//     border:  4px solid $purple;
//     box-shadow: 8px -8px 0px -3px $bg,  8px -8px $purple,
//                   16px -16px 0px -3px $bg, 16px -16px $purple,
//                   24px -24px 0px -3px $bg, 24px -24px $teal,
//                   32px -32px 0px -3px $bg, 32px -32px $purple;
//   }

//   80% {
//     border:  4px solid $purple;
//     box-shadow: 8px -8px 0px -3px $bg,  8px -8px $purple,
//                   16px -16px 0px -3px $bg, 16px -16px $purple,
//                   24px -24px 0px -3px $bg, 24px -24px $purple,
//                   32px -32px 0px -3px $bg, 32px -32px $teal;
//   }
// }
