.hero {
  z-index: 1;
  height: 450px;
  position: relative;
  background-color: #f3ecd9;
  box-shadow: inset 0px 0px 0px 10px white;
  padding: 10px;

  h1 {
    font-size: 2.5rem;
    letter-spacing: 3px;
  }

  p {
    letter-spacing: 1.5px;
    padding-left: 5px;
    margin-bottom: 20px;
  }

  .link {
    margin-left: 5px;

    color: white;
    text-decoration: none;
    padding: 5px 20px;
    background-color: rgba(206, 153, 38, 0.863);
    border-radius: 5px;
    transition: background-color .2s ease;

    &:hover {
      background-color: rgba(255, 72, 0, 0.863);
    }

    &:active {
      background-color: #C32F27;
    }

    @media only screen and (max-width: 700px) {
      display: none;
    }

  }

  .heroImages {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .heroIcon {
      position: absolute;
      bottom: 4%;
      left: 0;
    }

    .heroMoon {
      z-index: -1;
      position: absolute;
      top: -40px;
      right: 25%;
      width: 450px;
      transform: translateX(40%);

      @media only screen and (max-width: 700px) {
        width: 300px;
        top: 40px;
        right: 25%;
      }
    }
  }


  @media only screen and (min-width: 700px) {
    padding-top: 15px;
    padding-left: 20px;
  }

  // for desktop
  @media only screen and (min-width: 1100px) {
  }

}